# Auto-request review from code owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Faisal owns everything by default
* @faisalaffan

# Host OS bootstrap
ansible/            @faisalaffan

# Cluster deployment manifests
kubernetes/         @faisalaffan

# CI/CD pipelines
.github/            @faisalaffan

# Setup orchestration
setup.sh            @faisalaffan
