# ============================================================
# Vault — semua secrets dari root DEVOPS/.env
# Encrypt dengan ansible-vault
# ============================================================

vault_tailscale_authkey: "{{ lookup('env', 'TAILSCALE_AUTHKEY') }}"
vault_cf_tunnel_token: "{{ lookup('env', 'CF_TUNNEL_TOKEN') }}"
vault_k3s_token: "{{ lookup('env', 'K3S_TOKEN') }}"
vault_pg_superuser_password: "{{ lookup('env', 'PG_SUPERUSER_PASSWORD') }}"
vault_pg_app_password: "{{ lookup('env', 'PG_APP_PASSWORD') }}"
vault_mysql_root_password: "{{ lookup('env', 'MYSQL_ROOT_PASSWORD') }}"
vault_mysql_app_password: "{{ lookup('env', 'MYSQL_PASSWORD') }}"
vault_grafana_admin_password: "{{ lookup('env', 'GRAFANA_ADMIN_PASSWORD') }}"
