# ============================================================
# Vault template — semua secrets
#
# Setup:
#   ansible-vault encrypt_string 'tskey-auth-xxxxx' --name 'vault_tailscale_authkey'
#   ansible-vault encrypt_string 'eyJhIjo...' --name 'vault_cf_tunnel_token'
#   ansible-vault encrypt_string 'my-secret-k3s-token' --name 'vault_k3s_token'
#
# ============================================================

vault_tailscale_authkey: "REPLACE_WITH_ENCRYPTED_STRING"
vault_cf_tunnel_token: "REPLACE_WITH_ENCRYPTED_STRING"
vault_k3s_token: "REPLACE_WITH_ENCRYPTED_STRING"
